body {
    background-image: url(../images/criss-cross.png);
    color: #777777;
}

a {
    color: #4CCCF1;
}

.nav-wrapper {
    background-color: #FFAD7B;
}

.dropdown-trigger {
    margin-left: 25px;
    background-color: #4CCCF1;
}

#portfolio-btn, #bio-btn {
    margin-left: 15px;
    background-color: #4CCCF1;
}

#title-div {
    margin-top: 15px;
    padding: 15px;
    background-color: white;
    border: 3px solid  #4CCCF1;
}

#portfolio-div {
    margin-top: 30px;
    padding: 15px;
    background-color: white;
    border: 3px solid  #4CCCF1;
}

#name, #portfolio-title {
    color: #FFAD7B;
}

#webdev, #email, #phone {
    margin-top: 0px;
    margin-bottom: 0px;
}

#email-phone {
    margin-top: 0px;
}

#bio {
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 15px;
    background-color: white;
    border: 3px solid  #4CCCF1;
}

#bio-title {
    color: #FFAD7B;
}

#biopic {
    margin-bottom: 15px;
}

p {
    line-height: 25px;
}

#portfolio-div {
    margin-bottom: 50px;
}